:root {
    --primary: #a2d2ff;
    --secondary: #bde0fe;
    --third: #ffafcc;
    --light: #ffc8dd;
    --dark: #cdb4db;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', 'Josefin Sans', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

nav ul li {
    list-style: none;
    padding-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

nav ul li a:hover {
    cursor: pointer;
    color: var(--primary);
}

#toggle {
    display: none;
}

header {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.right-content {
    display: block;
    margin: auto;
    padding: 8%;
    align-self: center;
}

.left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 60%;
}

.hero-bg {
    background-color: var(--light);
    position: absolute;
    height: 50vh;
    width: 60vw;
    transform: rotate(-30deg);
    border-radius: 25%;
    z-index: -1;
    top: -10%;
    right: -10%;
}

/* From https://codepen.io/deeonwuli/pen/bGvbqgm */
.glass {
    width: 7rem;
    height: 13rem;
    border: 0.35rem solid black;
    border-radius: 0 0 10% 10%;
    padding: 1rem;
    position: relative;
}

.drink {
    width: 100%;
    height: 100%;
    background: linear-gradient(#FCE327, #FF3525);
    border-radius: 0 0 10% 10%;
}

.straw {
    width: 0.5rem;
    height: 3rem;
    background: red;
    position: relative;
    top: -3rem;
    left: 2rem;
    transform: rotate(10deg);
}

.straw:before,
.straw:after {
    content: " ";
    position: relative;
    background-color: red;
    width: 0.5rem;
}

.straw:before {
    height: 3rem;
    top: -2.65rem;
    left: 2.7rem;
    transform: rotate(30deg);
}

.straw:after {
    height: 3.5rem;
    top: -2.3rem;
    left: 2rem;
}

.ice {
    width: 2rem;
    height: 2rem;
    left: 9%;
    background: #fff;
    opacity: 40%;
    border-radius: 30%;
    transform: rotate(250deg);
    position: relative;
    box-shadow: 2rem 2rem #fff;
}

.ice:before,
.ice:after {
    content: "";
    position: relative;
    width: 2rem;
    height: 2rem;
    background: red;
    border-radius: 30%;
}

.ice:before {
    transform: rotate(30deg);
}

.ice:after {
    transform: rotate(230deg);
}

article {
    max-width: 600px;
    width: 80%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

button {
    margin: 2em 0 2em 0;
    padding: 1.2em;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    background-image: linear-gradient(var(--light), var(--secondary));
    transition: all 0.1s;
}

button:hover {
    background-image: linear-gradient(var(--secondary), var(--third));
    color: var(--light);
    cursor: pointer;
}

/* Model based on https://codepen.io/taohuh/pen/yKpjGm */
.blog-tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    background-color: var(--light);
    padding-top: 3em;
    padding-bottom: 3em;
}

.tile {
    min-width: 200px;
    width: 25%;
    max-width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
    overflow: hidden;
}

.tile::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--dark) 100%);
    content: " ";
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: -150px;
    opacity: 0;
    transition: all 0.53s ease-in-out;
}

.tile:hover::after {
    opacity: 1;
    bottom: 0;
}

.tile-img {
    /* object-fit: contain; */
    display: block;
    width: 100%;
    backface-visibility: hidden;
}

.tile-info {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    padding: 5%;
    font-size: 0.75rem;
    padding: 13px;
    line-height: 1.2;
}

.tile-info span {
    opacity: 0;
    position: relative;
    display: block;
    bottom: -150px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.tile-info span:first-of-type {
    font-size: large;
    font-weight: 600;
    transition-delay: 0.15s;
}

.tile-info span:last-of-type {
    transition-delay: 0.25s;
}

.tile:hover .tile-info span {
    opacity: 1;
    bottom: 0;

}

footer {
    position: absolute;
    width: 100vw;
    height: 50px;
    background-color: var(--dark);
    color: var(--light);
    text-align: right;
    padding: 10px 15px 40px;
    margin-bottom: 10px;
}

footer p a {
    color: var(--primary);
}

footer p a:hover {
    color: var(--secondary);
}

@media only screen and (max-width:680px) {
    .hamburger {
        position: absolute;
        top: 1em;
        right: 5%;
        z-index: 5;
        height: 30px;
        width: 1.5em;
    }

    .hamburger span {
        display: block;
        position: relative;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: black;
        margin-top: 4px;
        transition: all 0.3s ease-in-out;
    }

    #toggle:checked+.hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 10px;
    }

    #toggle:checked+.hamburger .bottom-bun {
        transform: rotate(45deg);
        opacity: 0;
    }

    #toggle:checked+.hamburger .veggies {
        transform: rotate(45deg);
        margin-top: -4px;
    }

    nav {
        position: fixed;
        z-index: 4;
        width: 100%;
        height: 100vh;
        background-color: var(--light);
        
        transition: opacity 0.3s ease-in-out;
        transform: scale(0);
        opacity: 0;
    }
    #toggle:checked ~ nav {
        opacity: 1;
        transform: scale(1);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 20%;
    }

    nav ul li {
        position: relative;
        font-size: 2em;
        display: block;
        line-height: 1.5em;
    }

    .tile {
        height: 200px;
    }
}